.feynman__link{
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-weight:normal;
  font-size: 36px;
  color: #2f80ed;
}

.feynman__link:hover {
  color: #2f80ed;
  opacity: 0.6;
  transition: .2s linear;
}