.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  background:  #f2f2f2;
  position: relative;
  color:black;
  display: flex;
  align-items: center;
  padding-left: 64px;
}

.logo{
  width: 228px;
}

.logo_place_header{
  position:absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}

.header__title{
  width: 730px;
  font-size: 102px;
  display: flex;
  margin: 0;
  left: 64px;
  line-height: 96px;
  font-weight: bold;
  z-index: 4;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 3;
}

.header__link{
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic{
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  border: 4px solid #2f80ed;
  z-index: 1;
}

.description{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.two-columns{
  width: 80%;
  justify-content: space-between;
  display: flex;
  font-weight: normal;
  align-items: flex-start;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text{
 min-width: 754px;
 width: 80%;
}

.two-columns__paragrah{
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
}

.section-subtitle{
  margin: auto;
  padding-top: 20px;
  font-size: 24px;
  font-weight: normal;
  }

.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: space-between;
  }

.table__cell{
  list-style-type: none;
  width: 250px;
  margin: 0 auto;
  padding-top: 60px;
  flex-wrap: wrap;
  align-content: space-between;
}

.table__heading{
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  letter-spacing: 1.15;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feynman{
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  box-sizing: border-box;
  z-index: 1;
}

.feynman__title{
  width: 648px;
  text-align: center;
  margin: 0 auto 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding-top: 100px;
  z-index: 4;
}

.feynman__subtitle{
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto 0;
  padding-top: 70px;
  z-index: 3;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-weight:normal;
  font-size: 36px;
  color: #2f80ed;
}

.kaufman{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background:  #1f1f1f;
  color: white;
  background-image: url(../how-to-learn/how-to-learn/images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  background-position: left bottom;
  z-index: 1;
}

.section-title_theme_dark{
  width: 60%;
  text-align: center;
  margin: 0  auto 0;
  padding-top: 90px;
  line-height: 1.15;
 font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle_theme_dark{
  width: 60%;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}

.table_theme_dark{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: space-between;
  padding-bottom: 90px;
  z-index: 3;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  margin: 0 auto;
  padding-top: 60px;
  flex-wrap: wrap;
  align-content: space-between;
  z-index: 4;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 3;
}

.table__text_theme_dark{
  line-height: 1.15;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}

.footer{
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns{
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer{
  width: 228px;
  height: 35px;
  display: flex;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 18px;
}

.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.footer__column-links{
  margin-top: 20px;
  padding-bottom: 16px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer__column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__social_icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
