.footer{
  margin: 0 auto;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}